@model IEnumerable<BackOfficeFoodService.Models.MesaModel>

@{
    ViewData["Title"] = "GerenciaMesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Gerenciar Mesa</h1>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mesa @Html.DisplayFor(modelItem => item.numero)</h5>
                    @{
                        if (item.status == "F")
                        {
                            <p class="card-text">Status da Mesa:  <img style="width:45px;height:45px" src="~/images/icons/close.png" alt="..." class="rounded-circle"> Fechada </p>
                            <button onclick="AbrirMesa(@item.numero, @item.codigo)" type="button" class="btn btn-primary">Abrir Mesa</button>
                        }
                        else
                        {
                            <p class="card-text">Status da Mesa:  <img style="background-color:chartreuse;width:45px;height:45px" src="~/images/icons/open-sign.png" alt="..." class="rounded-circle"> Aberto </p>
                            <a href="@Url.Action("FechamentoMesa", "Mesa", new { codigo = item.codigo, numeroMesa = item.numero, seqAbreMesa = item.seqAbreMesa })" class="btn btn-secondary">Fecha Mesa</a>
                            <a href="@Url.Action("MesaConsumo", "Mesa", new { codigo = item.codigo, numeroMesa = item.numero, seqAbreMesa = item.seqAbreMesa })" class="btn btn-success">Adicionar Consumo</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
